
*{


    margin: 0px;
    padding: 0px;
    font-family: "Anton";
    font-weight: 800;
    font-style: normal;
  
    
    }
    .pacifico-regular {
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-style: normal;
    }
    
    
.back{

  /* background-image: url("./imgs/newback\ \(2\).jpg"); */
  background-color: #2E8B57;
















  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sesion{

float: left;
margin: 5px;
border: 1px solid black;
border-radius: 20px;
padding: 5px;
list-style-type: none

}

main{

    margin-top: 80px;
}
.navbar {
  
  /* background-color: #041831; */
/* background-color: #8C0200 !important; */

border: 10px solid black;
/* background-color: #8C0200 !important; */
background-image: url("./imgs/fondo-arena-dorada-brillo_116547-1674.jpg");
  
}
.navbar button{
  /* border: 5px solid black; */
  border-radius: 5%;
 


}
.navbar h6 {

  /* color: #E3B057; */
  color: #8C0200;
  font-family: "Poetsen One" !important;
  font-weight: 800 !important;
  font-style: normal;
  font-size: 52px !important;
  
}
nav  ul{
    gap: 50px;
   margin: auto;
}
.funciones button {


width: 500px;
height: 150px;
border-radius: 30px;

}

.funciones {


    display: flex;
    flex-direction: row;
    gap: 20px;
      justify-content: center;

}
aside {


    margin-top: 100px;


}

.Resultados{

    
    /* display: flex; */
  
  /* width: 70%;
  height: 75%;
  margin: auto; */
   
    /* flex-wrap: wrap;
    flex-direction: row; */
    gap: 1px;
    justify-content: space-evenly;
    
  
     /* Centra los elementos horizontalmente. */
   /* Centra los elementos verticalmente. */


}


@media only screen and (max-width: 1320px) {
  .hot{

    font-size: 32px !important;
    width: 50% !important;

  }
  
  .navbar h6 {

    font-size: 32px !important;


  }


  div.numHolder  {

    align-items: center;


  }
  .container {
   
    width: 100% !important;
   
    /* height: 70%; */
    margin-bottom: 10%;
   
    
    
  }

  div.resultsContainer h6 {
    font-size: 230% !important; /* Adjust as needed */
  }

  div.numHolder ul li {
    font-size: 32px !important; /* Adjust as needed */
    width: 30%;
    
  }

  div.container div.horas button {
    width: 30% !important; /* Adjust as needed */
    height: 20% !important; /* Adjust as needed */
    font-size: 150%;
  }
}



.navbar button h6{

  font-family: "Anton";
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 42px !important;
  


}



.container {
   
    width: 40%;
   
    /* height: 70%; */
    margin-bottom: 10%;
   
    
    
  }
  .container button {

    font-family: "Josefin Sans";
    
   
  }
  .container h1 {
   margin: auto;
  
   justify-content: center;

  }
  .resultsContainer{
    border: 1px solid black;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column; */
    padding: 1.5%;
    border-radius: 10%;
    background-image: url("./imgs/fondo-arena-dorada-brillo_116547-1674.jpg");
   

  }
  
  .resultsContainer h6 {
    padding: 5%;

    /* font-family: "Anton" !important; */
    font-family: "Poetsen One" !important;
    font-weight: 400;
    font-style: normal;
    color: #8C0200;
    font-size: 350%;
    
  }

  .container .horas {
    display: flex;
  gap: 1%;
 
   
    flex-wrap: wrap;
 
    justify-content: center;
  }
  .container .horas  button{
    width: 25%;
    height: 10%;
    border-radius: 30%;
    font-family: "Poetsen One" !important;
  }


  .hidden{
    display: none;


  }
  .alerta {

    /* color: #E3B057;
    font-size: 40px; */
  
  }


  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #modalResults{

    display: flex;
  
    gap: 30px;
   
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente. */
  align-items: center; /* Centra los elementos verticalmente. */





  }
  #search{

    width: 60%;
    height: 40px;
   margin-bottom: 3%;
    border-radius: 5%;

  }
  .numHolder{
    
  }
  .numHolder ul {
   
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
   
    
    text-align: center; */

    list-style: none;

  }
  .numHolder ul li {
    font-family: "Poetsen One" !important;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    
 

    
border: 1px solid black;
border-radius: 50%;
text-align: center;
background-color: #8C0200;
color: #E3B057;
  }
  h6{

    text-align: center;
  }
  .searchContainer{
    border-radius: 5%;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 1%;
    



  }
  .container button {
    border: 1px solid black;
    padding: 3%;
    gap: 1px;
    font-family: "Anton";
    font-weight: 400;
    font-style: normal;
    font-size: 200%;

  }
  .container .tarde{
  background-color: #8C0200;
/* background-color: #0B4839; */
    color: #E4A700;

  }
  .container .noche{
    color: #E4A700;
    /* background-color: #041831; */
    background-color: #8C0200;
  }
  .hot{
    font-family: "Poetsen One" !important;
    width: 40%;
    color: #E4A700;
    margin: auto;
    margin-bottom: 60px;
    background-color: #8C0200;
    /* background-color: #041831; */
    border-radius: 10%;
    font-weight: 900;
  }