/* General project styles */

/* Variables */
:root {
    /* These distances can be used for (spacing, margin, padding and gap) */
    --distance-xs: 3px;
    --distance-s: 7px;
    --distance-m: 15px;
    --distance-l: 20px;
    --distance-xl: 30px;
    --distance-xxl: 50px;
    --distance-max: 50rem;
    --distance-total: 100%;

    /* Specific dimentions */
    --numbers-dimention: 2.5em; /*80px*/
    --logo-dimention: 60px; /*70px*/
    --loading-dimention: 50px; /*80px*/
    --fz-inp-erorr: 14px;

    /* Colors */
    --light: #e6e6e6;
    --light-2: #dddddd;
    --white: #ffffff;
    --red-casino: #8C0200;
    --red-casino-transparent: #8c0200de;
    --red-casino-hover: #720a08;
    --yellow-casino: #E4A700;
    --brown-casino: #932518;
    --blue-1: #007bff;
    --blue-1-hover: #0056b3;
    --green-casino-original: #2E8B57;
    --green-casino: #285859;
    --green-casino-2: #686F0E;
    --dark-casino: #110606;

    --red: #d10000;

    --valid-bg: #d4edda;
    --valid-color: #155724;
    --valid-border: 1px solid #c3e6cb;

    --invalid-bg: #f8d7da;
    --invalid-color: #721c24;
    --invalid-border: 1px solid #f5c6cb;
    
    /* Max values */
    /* Height 1200, 1400, >1440<, 1600 */
    --max-width: 1440px;
    --max-height: 800px;
    --max-width-confirmation-code: 500px;

    /* Transitions */
    --fast-transition: all 0.5s ease;
    --slow-transition: all 1s ease;

    /* Text size */
    --fz-1: 1.2em;
    --fz-2: 2em;
    --fz-3: 4em;

    --email-confirmation: 3rem;
}

/* Default (reset) styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* corner-radius-distance */
.cr-xs {
    border-radius: var(--distance-xs);
    -webkit-border-radius: var(--distance-xs);
    -moz-border-radius: var(--distance-xs);
    -ms-border-radius: var(--distance-xs);
    -o-border-radius: var(--distance-xs);
}

.cr-s {
    border-radius: var(--distance-s);
    -webkit-border-radius: var(--distance-s);
    -moz-border-radius: var(--distance-s);
    -ms-border-radius: var(--distance-s);
    -o-border-radius: var(--distance-s);
}

.cr-m {
    border-radius: var(--distance-m);
    -webkit-border-radius: var(--distance-m);
    -moz-border-radius: var(--distance-m);
    -ms-border-radius: var(--distance-m);
    -o-border-radius: var(--distance-m);
}

.cr-l {
    border-radius: var(--distance-l);
    -webkit-border-radius: var(--distance-l);
    -moz-border-radius: var(--distance-l);
    -ms-border-radius: var(--distance-l);
    -o-border-radius: var(--distance-l);
}

.cr-max {
    border-radius: var(--distance-max);
    -webkit-border-radius: var(--distance-max);
    -moz-border-radius: var(--distance-max);
    -ms-border-radius: var(--distance-max);
    -o-border-radius: var(--distance-max);
    overflow: hidden;
}

.btn,
.c-pointer {
    cursor: pointer;
}

.fast-transition {
    transition: var(--fast-transition);
    -webkit-transition: var(--fast-transition);
    -moz-transition: var(--fast-transition);
    -ms-transition: var(--fast-transition);
    -o-transition: var(--fast-transition);
}

.slow-transition {
    transition: var(--slow-transition);
    -webkit-transition: var(--slow-transition);
    -moz-transition: var(--slow-transition);
    -ms-transition: var(--slow-transition);
    -o-transition: var(--slow-transition);
}

.error {
    /*color: var(--red);
    font-size: var(--fz-inp-erorr);*/
}

.success {
    color: var(--green-casino-original); /* Variable ce bootstrap */
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.title {
    font-size: var(--fz-3);
    font-weight: bold;
    text-align: center;
    margin: var(--distance-xxl) 0;
}