/* public/styles.css */
/*body {
    font-family: Arial, sans-serif;
    background-color: var(--green-casino-original);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);* /
    width: 400px;
    max-width: 100%;
    }*/

.subscription-container {
    /*border: 1px solid red;*/
    
    background: var(--white);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--light-2);
    border-radius: 4px;
}

#card-element {
    padding: 10px;
    border: 1px solid var(--light-2);
    border-radius: 4px;
    margin-bottom: 20px;
}

#payment-message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

#payment-message.hidden {
    display: none;
}

#payment-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

#payment-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}